.hero {
  min-height: 100vh;
  // background-image: url("images/maldives.jpg");
  width: 100%;
  font-family: 'Inter', Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__carrousel {
    top:0;
    left:0;
    position : absolute;
    background-repeat: no-repeat ;
    min-height : 100vh;
    width : 100%;
}

  h1 {
      font-size: 100px;
  }

  .hero__contenu.global {
      margin: 0;
      max-width: 60%;
      height: 100%;
      text-align: left;
      padding: 0 15px;
      background: rgba(#04BFBF, 0.4); /* Fond semi-transparent */
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px); /* Pour Safari */
      border-radius: 15px;

      border: 2px solid rgba(255, 255, 255, 0.3); /* Bordure blanche semi-transparente */
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); /* Effet lumineux */

      animation: reflection 2s infinite alternate; /* Animation de la réflexion */
  }

  @keyframes reflection {
      0% { box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); }
      50% { box-shadow: 0 0 25px rgba(255, 255, 255, 0.6); }
      100% { box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); }
  }

  .hero__description, .hero__courriel {
      font-size: 30px;
      font-weight: bold;
      border-radius: 15px;
      padding: 10px 15px;
  }

  .hero__courriel {
      color: black;
  }
}

.hero__icone-app {
  padding-top: 2%;
  padding-left: 1%;
}

.souligne, .souligne.c2:visited,
.souligne.c2:active {
  color: white;
  text-shadow: 
      2px 2px 1px black, 
      2px -1px 1px black, 
      -1px 1px 1px black, 
      -1px -1px 1px black;
}

.souligne:hover {
  color: black;
  text-shadow: none;
}

.souligne.c1:hover {
  background-color: rgba(94, 255, 0, 0.426);
}

.souligne.c2:hover {
  background-color: rgba(0, 145, 255, 0.426);
}

.boiteflex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.destination h2{
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  padding: 20px 0;
  color: black;
}