html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Inter', Arial, sans-serif; /* Applique la police à tout le site */
    box-sizing: border-box; /* Assure une gestion cohérente des marges et paddings */
}

.global {
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Inter', Arial;
}

* {
    box-sizing: inherit; /* Hérite de la règle box-sizing définie dans html */
}

body {
    background-color: #0088ff11;
}


.global {
    margin : 0 auto;
    max-width: 1000px;
 }
 
 
 .boiteflex {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap : 10px;
 }

 .destination__titre{
    text-align: center;
    margin: 0 auto;
} 


