.page-404 {
  text-align: center;
  padding: 50px 20px;

  &__titre {
      font-size: 2.5rem;
      color: rgb(255, 204, 0);
      margin-bottom: 20px;
      background-color: rgba(11, 11, 11, 0.3);
      border-radius: 15px;
  }

  &__description {
      font-size: 1.2rem;
      padding: 3%;
      color: rgb(255, 204, 0);
      margin-bottom: 30px;
      background-color: rgba(11, 11, 11, 0.3);
      border-radius: 15px;
  }

  &__bouton {
      display: inline-block;
      padding: 10px 20px;
      background-color: yellow;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease; 

      &:hover {
          background-color: rgb(255, 204, 0);
          color: rgb(102, 102, 102);
      }
  }

  &__social {
      margin-top: 20px;
  }

  &__icone{
    font-size: 40px;
    color: red;
  }
}